# **<font color='crimson'>Rows and Groups</font>**

---

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    department,
    salary,
    FIRST_VALUE(salary) OVER w AS prev_salary,
    LAST_VALUE(salary) OVER w AS max_salary
FROM employees
WINDOW w AS (
    PARTITION BY department
    ORDER BY salary
    ROWS BETWEEN 1 PRECEDING AND UNBOUNDED FOLLOWING
)
ORDER BY department, salary, id;

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    COUNT() OVER w AS ge_cnt
FROM employees
WINDOW w AS(
    ORDER BY salary
    RANGE BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
)
ORDER BY salary, id;

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    MAX(salary) OVER w AS next_salary
FROM employees
WINDOW w AS(
    ORDER BY salary
    GROUPS BETWEEN 1 FOLLOWING AND 1 FOLLOWING
)
ORDER BY salary, id;

# **<font color='crimson'>Range</font>**

---

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    COUNT(name) OVER w AS p10_cnt
FROM employees
WINDOW w AS (
  ORDER BY salary
  RANGE BETWEEN CURRENT ROW and 10 FOLLOWING
)
ORDER BY salary, id;

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    MAX(salary) OVER w AS lower_sal
FROM employees
WINDOW w AS (
  ORDER BY salary
  RANGE BETWEEN 30 PRECEDING and 10 PRECEDING
)
ORDER BY salary, id;

# **<font color='crimson'>Exclude</font>**

---

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    ROUND(AVG(salary) OVER w, 0) AS p20_sal
FROM employees
WINDOW w AS (
    ORDER BY salary
    RANGE BETWEEN CURRENT ROW AND 20 FOLLOWING
    EXCLUDE CURRENT ROW
)
ORDER BY salary, id;

# **<font color='crimson'>Filter</font>**

---

In [ ]:
###

In [ ]:
SELECT
    id,
    name,
    salary,
    ROUND(salary * 100.0 / AVG(salary) OVER()) AS perc,
    ROUND(salary * 100.0 / AVG(salary)
        FILTER(WHERE city = 'Москва')
        OVER ()) as 'msk',
    ROUND(salary * 100.0 / AVG(salary)
      FILTER(WHERE city = 'Самара')
      OVER()) AS 'sam'
FROM employees
ORDER BY id;

In [ ]:
###

In [ ]:
SELECT
    name,
    city,
    SUM(salary) OVER w AS base,
    SUM(
      CASE
        WHEN department != 'it' THEN salary ELSE 0
      END
    ) OVER w AS no_it
FROM employees
WINDOW w AS (
    PARTITION BY city
)
ORDER BY city, id;

In [ ]:
###

In [ ]:
SELECT
    name,
    city,
    SUM(salary) OVER w AS base,
    SUM(
      CASE
        WHEN department = 'hr' THEN salary * 2
        WHEN department = 'it' THEN salary * 1.0 / 2
        ELSE salary
      END
    ) OVER w AS alt
FROM employees
WINDOW w AS (
    PARTITION BY city
)
ORDER BY city, id;